footer 
div.container-fluid.background-footer 
    div.container 
        div.row 
            div.col-12 

div.container-fluid
        div.row
            div.col-12.footer-p.d-inline-flex.justify-content-center.align-items-center
                p.fw-400.text-white © 2016 Cars.com All rights reserved.
